{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact container page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">

        <select id="ContactFormReason" name="contact[reason]" aria-required="true">
          <option>EXCHANGES/RETURNS</option>
          <option>DELIVERY/ORDER TRACKING</option>
          <option>ORDER CANCELLATION</option>
          <option>MISTAKE ON ORDER</option>
          <option>OTHER</option>
        </select>
      </div>

      <div class="contact__fields">
        <div class="fielda">
         <p> <label for="ContactForm-ORDER-NUMBER" class="">Order Number (<span id="chars2">8</span> characters remaining)</label></p>
          <div class="singel-fild">
          <input class="field__input" autocomplete="name" type="text"  maxlength="8" id="ContactForm-ORDER-NUMBER" name="contact[ORDER NUMBER]">
          
         </div>
        </div>
        <div class="fielda">
         <p> <label for="ContactForm-ORDER-SUBJECT" class="">Subject (<span id="chars3">50</span> characters remaining)</label></p>
          <div class="singel-fild">
            <input class="field__input" autocomplete="name" maxlength="50" type="text" id="ContactForm-ORDER-SUBJECT" name="contact[ SUBJECT]" >
            
          </div>
        </div>
        
      </div>







      <p> <label class="" for="ContactForm-bodya">MESSAGE (<span id="chars">500</span> characters remaining)</label></p>
      <div class="field"> 
       
        <textarea
          rows="18"
          maxlength="500"
          id="ContactForm-bodya"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="MESSAGE"
        >
          {{- form.body -}}
        </textarea>
       
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}


<script>
  var maxLength = 500;
  var maxLengthOrderNo = 8;
  var maxLengthSubject = 50;
    
  $('#ContactForm-bodya').keyup(function() {
    var length = $(this).val().length;
    var length = maxLength-length;
    $('#chars').text(length);
  });
    
  $('#ContactForm-ORDER-NUMBER').keyup(function() {
    var length = $(this).val().length;
    var length = maxLengthOrderNo-length;
    $('#chars2').text(length);
  });
    
  $('#ContactForm-ORDER-SUBJECT').keyup(function() {
    var length = $(this).val().length;
    var length = maxLengthSubject-length;
    $('#chars3').text(length);
  });
    
    
  $('#ContactFormReason').change(function() {
    var userOption = $(this).val();
      $(this).parent().find("#ContactFormSubject").prop('required',false);
      $(this).parent().find("#ContactFormOrderNumber").prop('required',true);
      console.log(userOption);
      //console.log(userOption);
      if (userOption == "OTHER"){
        $(this).parent().find("#ContactFormSubject").prop('required',true);
        $(this).parent().find("#ContactFormOrderNumber").prop('required',false);
      }
    
    return false;
  });
</script>


<style>
  h1.main-page-title.page-title.h0 {
    text-align: center;
}
  select#ContactFormReason {
    padding: 1.50rem;
    width: 100%;
}
   p{ 
    margin: 0 0 5px 0;
  }
  .fielda input {
     padding:1.5rem !important;
    border: 1px solid #000;
}

.contact__fields{
  margin-bottom: 2rem;
}
*:focus-visible{
  outline:none;
  border:none;
  box-shadow: none;
  outline-offset: 0;
}
.contact__button {
  color: #fff;
}

#chars2 {
  color: red;
}
 #chars3{
  color: red;
}
 #chars{
  color: red;
}
.contact label{
      text-transform: uppercase;
      font-weight:bold;
  }



</style>