

<section class="space-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <h2 class="h1 sec-title calss">{{ section.settings.title }}</h2>
            </div>
            <div class="col-7   d-lg-none">
                            <div class="mobile-select sec-title">
                                <select  id="cars" class="">
                                    {% for item in section.blocks %}
                                    
                                    <option value="{{forloop.index}}">  {{ item.settings.collectionname }}</option>
                                    {% endfor %}
                                </select>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                  </path></svg>
                            </div>
            </div>
            <div class="col-lg-auto d-none d-lg-block">
                <div class="sec-btn">
{% comment %}                     <div class="filter-menu">
                      {% for item in section.blocks %}
                        
                    
                        <div>
                            <button class="filter-btn" type="button">{{ item.settings.collectionname }}</button>
                        </div>
                    {% endfor %}
                   
                    </div> {% endcomment %}
                    <div class="filter-tab" data-asnavfor="#productSlide3">
                        {% for item in section.blocks %}
                        
                    
                     
                                <button class="tab-btn">{{ item.settings.collectionname }}</button>
                    
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>

      




        <div class="product-slide-area">
            <div id="productSlide3">
                {% for item in section.blocks %}
                 {% assign collection = collections[item.settings.collection] %}
                        <div>
                            <div class="row gy-50">

                                {% for product in collection.products limit: item.settings.p_limit %}
                                    <div class="col-xl-3 col-lg-4 col-6">
                                        <div class="ot-product   {% if product.metafields.custom.coming_soon_product == true %} upcoming  {% endif %} ">
                                        {% comment %} <div class="ot-product  {% unless product.available %}upcoming{% endunless %}"> {% endcomment %}
                                            <div class="product-img">

                                                {% comment %} {% unless product.available %}
                           
                                                    {% if product.metafields.custom.coming_soon_product == true %}
                                             
                                                        <span class="tag ot-btn badge__text">Coming <br> Soon</span>
                                                         
                                                    {% else %}
                                                        <span class="badge__text tag ot-btn badge__text">Sold Out</span>
                                                    {% endif %}
                                 
                                              {% endunless %} {% endcomment %}
                                              {% if product.metafields.custom.coming_soon_product == true %}
                               
                                                <span class="badge__text tag ot-btn badge__text badge tagtwo">Coming  Soon</span>
                                                 
                                                {% elsif  product.available == false  %}
                                                <span class="badge__text tag ot-btn badge__text badge tagtwo">Sold Out</span>
                                                {% elsif  product.compare_at_price > product.price  %}
                                                <span class="badge__text tag ot-btn badge__text badge tagtwo">on Sale</span>
                               
                                            {% endif %}
                         
                                            {% include 'lazy' %}

                                                <a href="{{ product.url}} " class="auto-height">   
                                             
                                                {% for image in product.images limit:2 %}
                                                    {% if forloop.index  == 1 %}
                                                        <a href="{{product.url }}">        
                                                               {% comment %} {{ image | image_url: width: 3840 | image_tag:
                                                            loading:"lazy",
                                                            height: height,
                                                            sizes: "100vw",
                                                            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                                                          }}  {% endcomment %}
                                                        
                                                          <img data-lazy=" {{ image |  img_url:'' }}" style="">


                                                          
                                                        </a>
                                                  
                                                 {% else %}
                                                    <a href="{{product.url }}" class="img_swap {% if product.metafields.custom.coming_soon_product == true %}d-none {% endif %}   ">   
                                                      
                                                    {% comment %} {{ image | image_url: width: 3840 | image_tag:
                                                        loading:"lazy",
                                                        height: height,
                                                        sizes: "100vw",
                                                        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                                                      }}  {% endcomment %}
                                                      <img data-lazy=" {{ image |  img_url:'' }}">
                       
                                                    </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="product-title"><a href="{{ product.url}} ">{{ product.title }}</a></h3>
                                                <div class="pricw-rapper d-flex justify-content-center">
                                     {% if  product.compare_at_price > product.price %}
                                                    <span class="price del">  {{ product.compare_at_price_min  | money_without_trailing_zeros }}</span>
                                       {% endif %}
                                                    <span class="price2 price">{{ product.price  | money_without_trailing_zeros }}</span>
                                                    
                                                
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                {% endfor %}

                                 <div class="col-12">
                                    <div class="text-center mt-5">
                                        <a href="{{ collection.url }}" class="ot-btn style2">{{ item.settings.shop }}</a>
                                    </div>
                                 </div>

                            </div>
                        </div>
               
                    {% endfor %}
            </div>
         
        </div>



    </div>
</section>

{% schema %}
    {
        "name": "Home SHOP",
        "class": "Featured",
        "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title",
                    "default": "shop",
        
                    "placeholder": "shop"
                }

        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Collection Slide",
                "settings": [
                     {
                        "type": "text",
                        "id": "collectionname",
                        "label": "Collection Name",
                        "default": "ACCESSORIES",
                  
                        "placeholder": "ACCESSORIES"
                     },
                     {
                        "type": "collection",
                        "id": "collection",
                        "label": "Select your Collection"
                     },
                     {
                        "type": "text",
                        "id": "p_limit",
                        "label": "Proudct Limit",
                        "default": "12",
                   
                        "placeholder": "12"
                    },{
                    "type": "text",
                    "id": "shop",
                    "label": "Shop Button text",
                    "default": "Show More",
                 
                    "placeholder": "Show More"
                }
                ]
            }
        ],
        
        "presets": [
            {
              "name": "Home SHOP"
            }
            ]
    }
{% endschema %}





<style>
    .sec-title-2 {
        padding: 25px 0;
        margin: 0;
    }
.mobile-select{
 position:relative;
 z-index: -1;
}
.mobile-select svg{

        height: .6rem;
        pointer-events: none;
        position: absolute;
        top: calc(50% - .2rem);
        right: calc(var(--inputs-border-width) + 1.5rem);
    
}

    select#cars {
        width: 100%;
        border: none;
        outline: none;
        font-size: 19px;
        padding: 5px 7px;
        border: 1px solid #000;
        position: relative;
        z-index: 1000;
        color:#000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background : none;
    }

    h2.h1.sec-title.calss {
        margin-top: 5px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {



    $('#productSlide3').slick({
        dots: false,
        arrows: false,
        infinite: true,
       autoplay: false,
       lazyLoad: 'ondemand',
        autoplaySpeed: 0,
       
       // arrows: true,
      //  prevArrow: '<button class="hello prev-arrow"> <img src="https://cdn.shopify.com/s/files/1/0607/3997/7365/files/back_arrow_icon_44f690c0-e36b-49bf-a351-e635969d3dfd.png?v=1669535138" alt=""></button>',
      //  nextArrow: '<button class="hello next-arrow"> <img src="https://cdn.shopify.com/s/files/1/0607/3997/7365/files/forward_arrow_icon_9e17320c-439c-435e-b511-0b1b4a9d4c57.png?v=1669535215" alt=""></button>',
      speed: 200,
        slidesToShow: 1,
        slidesToScroll: 1,
        adaptiveHeight: true,
  
      }).on('lazyLoaded', function(event, slick, image, imageSource) {
        slick.resize();
      });
    
      // $('.filter-menu').slick({
      //   dots: false,
      //   arrows: false,
      //   infinite: true,
      //   speed: 200,
      //   slidesToShow: 1,
      //   slidesToScroll: 1,
      //   asNavFor: '#productSlide3',
      //   focusOnSelect: true,
      //  autoplay: false,
      //   autoplaySpeed: 0,
      //      asNavFor: '.filter-menu',
       
      //   responsive: [
      //     {
      //       breakpoint: 992,
      //       settings: {
      //         slidesToShow: 1,
      //       }
      //     }
      //   ]
      // });

    const selectElement = document.querySelector('#cars');

    selectElement.addEventListener('change', (event) => {

            $('#productSlide3').slick('slickGoTo', event.target.value - 1);
    });



    $('img[data-lazy]').one('load', function(e) {
        if (this.complete) {
            $(this).parent().siblings('.ajax-loader').remove();
        }
      });



});
</script>