<section class="space" id="blogdetails">
  <div class="container">
      <div class="ot-blog blog-details">
          <div class="blog-meta">
            {% for tag in article.tags %}
              
            
              <a href="{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
           
    

 
            

             
          </div>
      <h2 class="article-template__title center" itemprop="headline">{{ article.title | escape }}</h2>
          <a href="#" class="center">{{ article.published_at | time_tag: format: 'date' }}</a>
        
          <div class="blog-content">
            {{ article.content }}

            {% render 'article-template' %}
          </div>


          {% comment %} new  code  {% endcomment %}

{%- if article.metafields.accentuate.article_collection != blank -%}
  {%- assign collection = collections[article.metafields.accentuate.article_collection] -%} 
  {%- assign max_height = 530 -%}
  {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}

  <div class="section-header text-center">
    <h2>{{ collection.title | prepend: 'Shop ' }}</h2>
  </div>

  {%- if collection.products_count > 0 -%}

  <div class="container ">
    <div class="row">
        {%- for product in collection.products limit: 20 -%} 
            {%- comment %}<locksmith:7224>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:7224>{% endcomment -%} 
            {% include 'product-card-grid', max_height: max_height %}
   
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  {%- if collection.products_count > 20 -%}
	<div class="text-center" style="margin-top: 30px;">
      <a class="btn" href="{{ collection.url }}">View all Proudcts</a>
	</div>
  {%- endif -%}
{%- endif -%}
{% comment %} new code end {% endcomment %}

      </div>
      
  </div>
</section>








<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}


<style>
  .blog-content h1 {
    margin-bottom: 30px;
}
  .share-button__button {
    font-size: 1.4rem;
    display: unset;
    min-height: 2.4rem;
    align-items: center;
    color: rgb(var(--color-link));
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    justify-content: center;
}

a.btn {

  border: none;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--title-color);
  color: var(--white-color);
  padding: 17px 15px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 2;
  -webkit-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}


a.btn:hover{
 color:#fff;
}
.ot-btn {

  text-decoration: none;

}
.icon-group a:not(:last-child), .icon-group button:not(:last-child) {
  margin-right: 0;
}
.share-button {
  display: block;
  position: relative;
  display: inline-block;
}
  .space-bottom{
    
  }
#blogdetails .container{
max-width:1000px;

}
span.icon-wrap {
  color: #fff;
}
time {
    margin-bottom: 4px;
    display: block;
}

</style>